/* Master styles */

body {
    margin: 0px;
}


/* nav styles  */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper>.left-side>div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}


/* portfolio styles  */

.portfolio-items-wrapper {
    display: grid;
    /* we will have 3 cols 1fr & will give a full column to each one  */
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    /* allow us to have more flexibility on how we position each item inside them  */
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    /* cover helps to display all images with the same size even though they are not the same  */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    /* postion relative is require to have position absolute because is like we are forcing it, in order to do that it has to be in a parent that is  relative  */
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}