/*
reset everything
* {
    margin: 0;
    padding: 0;
} */

body {
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6em;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

a:visited {
    color: black;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-link-wrapper {
    padding: 15px;
    text-transform: uppercase;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.container {
    width: 80%;
    margin: auto;
}

.box-1 {
    background-color: #333;
    color: #fff;
    border: 5px red solid;
    /* it always goes in this order, we can : padding:20px    */
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}


/* add list hover, active, visited and image */

.categories {
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2 {
    text-align: center;
}

.categories ul {
    padding: 0;
    list-style: none;
    padding-left: 20px;
}

.categories li {
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
    list-style-image: url(./images/check.png);
}

.my-form {
    padding: 20px;
}

.my-form .form-group {
    padding-bottom: 15px;
}

.my-form label {
    display: block;
}


/* forms, attribute's form  */

.my-form input[type="text"],
.my-form textarea {
    padding: 8px;
    width: 100%;
}

.button:hover {
    background: red;
    color: #fff;
}

.block {
    float: left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    /* takes the sizes and fits them into the box with flexbox will more responsive  */
    /* when you float stuff you need to clear it cause if u dont wit will mess up your next markup */
    box-sizing: border-box;
}

.clr {
    clear: both;
}

#main-block {
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}

#sidebar {
    float: right;
    width: 30%;
    background-color: #333;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.p-box {
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative;
}

.p-box h1 {
    position: absolute;
    top: 100px;
    left: 200px;
}

.fix-me {
    position: fixed;
    top: 400px;
}

.my-list li:first-child {
    background: red;
}

.my-list li:last-child {
    background: blue;
}

.my-list li:nth-child(5) {
    background: yellow;
}

.my-list li:nth-child(even) {
    background: springgreen;
}